<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selección de Módulos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="container text-center">
      <h1>Seleccione los Módulos</h1>
      <form action="/pago" method="POST">
        <input type="hidden" name="curso" value="<%= curso %>" />

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="modulo1"
            name="modulos"
            value="Basico"
          />
          <label class="form-check-label" for="modulo1">Basico</label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="modulo2"
            name="modulos"
            value="Intermedio"
          />
          <label class="form-check-label" for="modulo2">Intermedio</label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="modulo3"
            name="modulos"
            value="Avanzado"
          />
          <label class="form-check-label" for="modulo3">Avanzado</label>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Siguiente</button>
      </form>
    </div>
  </body>
</html>
