<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forma de Pago</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="container text-center">
      <h1>Seleccione la Forma de Pago</h1>
      <form action="/detalle" method="POST">
        <input type="hidden" name="curso" value="<%= curso %>" />
        <input type="hidden" name="modulos" value="<%= modulos %>" />

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="formaPago1"
            name="formaPago"
            value="Efectivo"
          />
          <label class="form-check-label" for="formaPago1">Efectivo</label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="formaPago2"
            name="formaPago"
            value="Tarjeta"
          />
          <label class="form-check-label" for="formaPago2"
            >Tarjeta de Crédito</label
          >
        </div>

        <button type="submit" class="btn btn-primary mt-3">Siguiente</button>
      </form>
    </div>
  </body>
</html>
